.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.flashes h4{
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

body{
    background-image: url(../images/backgroundimage.jpg);
}

.collapsible{
    background-color: #fafafa;
}

.deeper {
    font-weight: 900;
    font-size: x-large;
}

@media only screen and (max-width: 1000px){
    .logo{
        font-size: medium;
    }
    .input-field.col .prefix ~ label, .input-field.col .prefix ~ .validate ~ label {
        width: calc(100%);
    }
    .deepen{
        margin-top: 1rem;
    }
    body{
        width: 100%;
    }
}