{% extends "base.html" %}
{% block content %}

<h1 class="light-blue-text text-darken-4 text-center text-6xl">Add Recipe</h1>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="recipe_name" name="recipe_name" maxlength="30" type="text" class="validate" required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix light-blue-text text-darken-4"></i>
                <input id="ingredients" name="ingredients" minlength="5" type="text" class="validate" required>
                <label for="ingredients">Ingredients</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-clock prefix light-blue-text text-darken-4"></i>
                <textarea id="cooking_time" name="cooking_time"
                    class="materialize-textarea validate" required></textarea>
                <label for="cooking_time">How much time will this dish take?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="directions" name="directions" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="directions">Describle how to cook the dish</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                    <label for="is_vegan">
                        <input type="checkbox" id="is_vegan" name="is_vegan">
                        <span class="lever"></span>
                        Is Vegan
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}