{% extends "base.html" %}
{% block content %}

<h1 class="white-text text-center text-6xl p-4">Edit Recipe</h1>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_task', task_id=task._id) }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-utensils prefix red-text text-darken-4"></i>
                <select id="course" name="course" class="validate" required>
                    <option value="" disabled>Choose Course Option</option>
                    {% for category in categories %}
                        {% if category.course == task.course %}
                            <option value="{{ category.course }}" selected>{{ category.course }}</option>
                        {% else %}
                            <option value="{{ category.course }}">{{ category.course }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="course">Courses</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix red-text text-darken-4"></i>
                <textarea id="recipe_name" name="recipe_name"
                    class="materialize-textarea validate" required>
                    {{- task.recipe_name -}}
                </textarea>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix red-text text-darken-4"></i>
                <textarea id="ingredients" name="ingredients"
                    class="materialize-textarea validate" required>
                    {{- task.ingredients -}}
                </textarea>
                <label for="ingredients">Ingredients</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-clock prefix red-text text-darken-4"></i>
                <select id="dish_times" name="dish_times" class="validate" required>
                    <option value="" disabled selected>Length of cooking time</option>
                    {% for time in times %}
                        {% if time.dish_times == task.dish_times %}
                            <option value="{{ time.dish_times }}" selected>{{ time.dish_times }}</option>
                        {% else %}
                            <option value="{{ time.dish_times }}">{{ time.dish_times }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="dish_times">How Long Will This Dish Take?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix red-text text-darken-4"></i>
                <textarea id="directions" name="directions"
                    class="materialize-textarea validate" required>
                    {{- task.directions -}}
                </textarea>
                <label for="directions">How to cook the dish</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-exclamation-circle prefix red-text text-darken-4"></i>
                    <label for="is_vegan">
                        {% if task.is_vegan == "on" %}
                                <input type="checkbox" id="is_vegan" name="is_vegan" checked>
                            {% else %}
                                <input type="checkbox" id="is_vegan" name="is_vegan">
                            {% endif %}
                        <span class="lever"></span>
                        Is Vegan
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('get_tasks') }}" class="btn-large red text-shadow deepen">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
                <button class="btn-large waves-effect waves-light green deepen" type="submit">Edit Recipe
                    <i class="fas fa-edit right"></i>
                  </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}